* {
	font-family: 'Roboto', sans-serif;
}
section, footer {
	padding: 100px 0px;
}
.title {
	letter-spacing: 4px;
	font-weight: bold;
}

/* ========================================================
	=================estilo para el menu=================== 
===========================================================*/
header.menu {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 50px;
	width: 100%;
	z-index: 100;

}

.menu nav {
	display: flex;
	justify-content: flex-start;
	height: 100%;
	align-items: center;
}

.menu nav ul {
	display: flex;
	color: #fff;
	list-style: none;
	margin: 0px;
}

.menu nav ul li {
	margin: 0px 10px;
	cursor: pointer;
}

.menu nav ul li:last-child {
	margin: 0px;
}

/* ========================================================
	=================estilo para el intros================== 
===========================================================*/
main.intro {
	position: relative;
	width: 100%;
	height: 885px;
	background-image: url("./../img/intro-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.intro:after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	z-index: 1;
}

.intro > div {
	z-index: 2;
	position: relative;
	top: -100px;
}

.intro aside h3 {
	font-size: 70px;
}

.intro aside p {
	font-size: 20px;
}

/* ========================================================
	=================estilo para about================== 
===========================================================*/

.about > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about > div figure {
	margin-right: 40px;
	width: 50%;
}

.about > div figure img {
	width: 100%;
}

.about > div .text {
	width: 50%;
}

.about > div .text p {
	color: #666;
}

.about > div .text .btn-container button {
	height: 50px;
	border-radius: 0;
}

/* ========================================================
	=================estilo para about================== 
===========================================================*/
.service {
	background-color: #f5f5f5;
}
.service .service-container .row {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.service .service-container article {
	margin: 40px 22px;
	box-shadow:  1px 1px 9px rgba(0, 0, 0, 0.1);
	width: 300px;
	height: auto;
	text-align: center;
	padding: 20px;
	background-color: #fff;
}

.service .service-container article figure {
	text-align: center;
}

.service .service-container article h5 {
	font-weight: bold;
}

.service .service-container article p {
	color: #666;
	margin-top: 25px;
}

.service .service-container article ul {
	text-align: left;
}


/* ========================================================
	=================estilo para mis trabajos============== 
===========================================================*/
.myWork .work-container {
	margin-top: 50px;
}

.myWork .work-container .image-container {
	position: relative;
}

.myWork .work-container .image-container .hover {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: 0.5s;
	display: flex;
	flex-direction: column;
}
.myWork .work-container .image-container .hover p {
	color: #fff;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 4px;
    text-shadow: 1px 3px #000;
}
.myWork .work-container .image-container .hover:hover {
	opacity: 1;
}

/* ========================================================
	=================estilo para tranajemos juntos========= 
===========================================================*/
.lestWork {
	position: relative;
	background-image: url("./../img/work.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.lestWork:after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	z-index: 1;
}

.lestWork > div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #fff;
	z-index: 3;
}

.lestWork > div h2 {
	font-size: 50px;
}