/*table*/
@media screen and (max-width: 768px) {
	/*menu*/
	.menu nav {
		display: none;
	}

	/*intro*/
	.intro aside h3 {
		font-size: 35px;
	}

	.intro aside p {
		font-size: 16px;
	}

	/*about*/
	.about > div {
		flex-direction: column;
	}

	.about > div figure {
		margin: 0px;
	}

	.about > div .text {
	    width: 90%;
	}

	.about > div .text {
		text-align: center;
	}

	.about > div .text .btn-container button {
		margin: 10px 0px;	
	}
}


/*mobile*/
@media screen and (max-width: 425px) {
	/*intro*/
	main.intro {
		height: 547px;
	}

	.intro > div {
		top: -50px;
	}

	/*about*/

	.about > div figure {
		margin: 0px;
	}

	.about > div .text {
	    width: 90%;
	}

	/*lest work*/
	.lestWork > div h2 {
		font-size: 30px;
	}
}